<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="cache-control" value="public, max-age=0, must-revalidate" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
