html[lang="ar"] {
  .c-btn {
    direction:rtl;
  }
}
.c-btn {
  border-radius:29px;
  font-size:16px;
  display:inline-block;
  background-color: #fff;
  text-decoration:none;
  padding:13px 25px;
  font-weight:600;
  color:$primary;
  border:0;
  transition:all .3s ease;
  border:1px solid #fff;
  cursor:pointer;
  font-family:$font_gr;
  
  &:hover {
    background-color: $primary;
    color:#fff;
  }

  &.c-btn--primary {
    background-color: $primary;
    border-color:$primary;
    color:#fff;
    &:hover {
      background-color: #fff;
      border-color:$primary;
      color:$primary;
    }
  }

}